#modal{
    background-color:#0e0a14ef;
    height:100vh;
    width: 100vw;
    position:fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal.hide{
    display: none;
}

#modal .content{
    color: white;
    width: 420px;
}

#modal .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:48px;
}
#modal .header a{
    background-image: url("../assets/x.svg");
    width:20px;
    height: 20px;
    display: flex;
    font-size: 0.01px;
}

#modal .header h1{
    color: white;
    font-size: 36px;
    line-height: 42px;
}

#modal form label{
    font-size: 14px;
    line-height: 16px;
    display:block;
    margin-bottom: 8px;
}

#modal form .field{
    display: flex;
}

#modal form input{
    flex: 1;
    background-color: #f0f0f5;
    border-radius: 8px 0 0 8px;
    border: 0;
    padding: 16px 24px;
    font-size:16px;
    color: #6c6c80;
}

#modal form button{
    width:72px;
    height:72px;
    border: 0;
    border-radius: 0 8px 8px 0;
    background-color: var(--primary-color);
    transition: 300ms;
}

#modal form button:hover{
    background-color: #28a161;
}


@media(max-width: 524px){
    #modal form button{
        width:60px;
        height:60px;
        margin-right: 10px;
    }
    #modal .search field{
        width: 80vw;
    }
    #modal .header h1{
        margin-left: 10px;
        font-size: 26px;
        line-height: 30px;
    }
    #modal form input{
        padding: 2px 6px;
        margin-left: 10px;
    }
}

/* isso é para o modal do concluido */
#modal.point{
    background-color: #0d0422d3;
}

#modal.point .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#modal.point h1{
    color: white;
    margin-top: 32px;
}