/* usa o atributo ----grid-tamplate-column: 1fr---- no grid desalinhado da pagina de criação para telas pequenas tipo g4*/

@media(max-width: 900px){
    #page-home{
        background-position-x:70vw ;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }
    #page-home header a{
        margin-top: 15px;
        width: 100%;
        position: absolute;
        justify-items: center;
        bottom: 20px;
        transform: translateX(-10%);
    }
    #page-home main{
        align-items: center;
    }
    #page-home main a{
        width: 90%;
        max-width: 360px;
        height: 58px;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    #page-home main a span{
        height: 58px; 
    }

    #page-create-point .field-group {
        flex-direction: column;
    }
    #page-create-point .field-group .field + .field{
        margin-left: 0;  
    }

    form #itemSel{
        margin-bottom:30px;
        flex-direction: column;
        align-items: flex-start;
    }
    form #itemSel span{
        padding-top: 10px;
    }

    .items-grid{
        grid-template-columns: 1fr;
        gap:16px;
    
    }
    header #fundo-back-home{  /* back to home on bottom position in mobile devices*/
        background-color: #f0f0f5;
        margin-left: -10vw;
        height: 48px;
        width: 100%;
        position: fixed;
        bottom: 0;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #buttonCad{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media(min-widht: 1700px){
    #page-home{
        background-position-x: 40vw;
    }
}

@media(max-heigth: 760px){
    #page-home{
        background-position-y: 15vh;
    }
}
 @media(max-width: 950px){
    #page-search-results .cards{
        grid-template-columns: 1fr 1fr;

    }
}

@media(max-width: 730px){
    #page-search-results .cards{
        grid-template-columns: 1fr;

    }
    #page-search-results .cards img{
        height: 160px;
    }

    body::after{
        background-color: #f0f0f5;
    }
}